.content
	&.griss_1
		background #f2f2f2
	&.griss_2
		background #eaeaea
	&.griss_3
		background #e6e6e6
	&.griss_4
		background #e0e0e0
	h2
		color #4a5360
		font-family 'Roboto'
		font-size 20.42px
		font-weight 300
		text-align center
		padding-top 45px
.row
	&_steps
		width 480px
		margin 0 auto
		padding 45px 0
		.number
		.box_txt
		img
			display inline-block
			vertical-align middle
			width 33%
		.img_1
			max-width 245px
			width 51.05%
		.number
			max-width 46px
			height 46px
			border-radius 50%
			background-color #e7322f
			color white
			text-align center
			font-family $FiraSansCondensed-Medium
			font-size 31.72px
			line-height 1.42
			margin-right 4%
		.box_txt
			font-family $FiraSansCondensed-Medium
			font-size 19.17px
			color #4a5360
			max-width 180px
			margin-right 1%