section.box_profiles
	article
		&.ctn
			margin 0 auto
			&_profile
				max-width 935px
				width 62.051%
				background-color #eef0e9
				.box_img_profile
					margin 0 auto
					margin-top -146px
					position relative
					max-width 187px
					border-radius 50%
					overflow hidden
			&_other_profiles
				max-width 572px
				width 37.95%
				background-color #ffffff
