.modules
	.row
		&_clinic
			br
				font-size 16px
			p
				font-family $HelveticaLTStdLight
				font-size 14px
				color #8a8a8a
			strong
				font-family $HelveticaLTStdRoman
				font-size 16px
				color #000000
			ul.bullet_style
				li
					font-family $HelveticaLTStdLight
					font-size 14px
					color #8a8a8a
					padding-left 25px
					position relative
					line-height 1.5
					&:before
						content '•'
						color #3399ff
						font-size 15px
						position absolute
						left 10px
			.ctn_box_icons
				width 100%
				border-top 1px solid #abd5ff
				border-bottom 1px solid #abd5ff
				padding 15px 0
				margin 15px 0
				span
					color #f90b10
					font-family $HelveticaLTStdLight
					font-size 16px
			ul.icons
				li
					display inline-block
					vertical-align top
					width 25%
			.box_us
				display inline-block
				vertical-align top
				width 42%
				margin 10px 0
				margin-bottom 30px
				span
					color #f90b10
					font-family $HelveticaLTStdLight
					font-size 14px
			.iframe
				max-width 700px
		&_services
			text-align center
			width 100%
			br
				font-size 16px
			hr
				margin 15px 0
				border 0
				border-top 2px solid #e9eef1
				width 100%
			span
				font-size 18px
				color black
				font-family $ZizouSlabRegular