/* Paths */
$img                = '../../../img/'
$imgPath            = '../img/'
$pluginsPath        = '../' + $imgPath + 'plugins/'
$fontsPath          = '../../css/fonts/'

// fonts
$fontsPath                      = 'fonts/'
$FiraSansCondensed-Black        = 'FiraSansCondensed-Black', 'Arial', 'sans-serif'
$FiraSansCondensed-Regular      = 'FiraSansCondensed-Regular', 'Arial', 'sans-serif'
$FiraSansCondensed-Medium       = 'FiraSansCondensed-Medium', 'Arial', 'sans-serif'
$FiraSansCondensed-Thin         = 'FiraSansCondensed-Thin', 'Arial', 'sans-serif'
$ZizouSlabMedium                = 'ZizouSlab-Medium', 'Arial', 'sans-serif'
$ZizouSlabBold                  = 'ZizouSlab-Bold', 'Arial', 'sans-serif'
$HelveticaLTStdLight            = 'HelveticaLTStd-Light', 'Arial', 'sans-serif'
$HelveticaLTStdRoman            = 'HelveticaLTStd-Roman', 'Arial', 'sans-serif'
$HelveticaLTStdBold             = 'HelveticaLTStd-Bold', 'Arial', 'sans-serif'




// colors
$purple               = rgb(84,54,139)
$rose                 = rgb(214,26,179)
$gray_light           = #fafafa
$gray_dark            = #909090
$blue_light           = #00d5f8
$green                = #59cc29
$grayNormal           = #cccccc

// width
$usefulWidth        = 1024px
$padding            = 10px
$baseFont           = 16px
