.content_table
    font-size 0
    .ctn_form_filters
        display block
        visibility hidden
        box-shadow 0px 0px 3px rgba(0, 0, 0, 0.129412)
        border-radius 5px
        margin-top 25px
        .form_filters
            max-width 884px
            margin 0 auto
            padding-top 25px
            padding-bottom 25px
    h1
        width 100%
        // display inline-block
        // vertical-align top
        font-weight 600
        font-size 2.1rem
        margin-bottom 15px
    .cnt_search
        // display inline-block
        // vertical-align top
        width 100%
        text-align right
        margin-bottom 15px
        .select
            max-width 200px
            width 100%
            margin-right 15px
            .select2-container--default
                .select2-selection--single
                    background-color white
                    border 1px solid #9c9c9c
                    height 36px
                    padding-top 7px
                    text-align left
            .select2-selection__rendered
                font-size 16px
        // .select2-container
        //     width 100% !important
        a
            vertical-align middle
            margin-right 10px
            &:hover
                text-decoration none
        fieldset
            margin 0
            display inline-block
            vertical-align middle
            position relative
            input[type=text]
                margin-top 0
                color #9c9c9c
                background white
                height 36px
                border 1px solid #9c9c9c
            span
              position absolute
              right 3%
              top 22%
              margin-bottom 0
              color #9c9c9c
  .dataTables_filter
    display none
  .dataTables_wrapper
    position relative
.dataTables_info
  font-size 12px
  color black
  width auto
  display inline-block
  margin-top 12px
.dataTables_paginate
  float right
  margin-top 5px
  a
    font-size 16px
    color white
    text-align center
    line-height 1.8
    &.paginate_button
      width 29px
      height 29px
      background silver
      margin-left 12px
      display inline-block
      border-radius 50%
    &.previous
    &.next
      width auto
      padding 0 10px
      border-radius 4px
    &.disabled
      background #eaeaea
      cursor not-allowed
      &:hover
        text-decoration none
    &.current
      background #8c8c8c
      &:hover
        text-decoration none
        cursor default
.content_table
  table
    margin-top 35px
    width 100% !important
    td
      &:first-child
        padding-left 15px
    thead
      tr
      td
        font-size 16px
        color #33445a
        font-weight bold
        text-align left
        padding 12px 0
        min-width 30px
        .sorting_desc
        .sorting_asc
        .sorting
          position relative
          &.no_sorting
            &:after
              content ''
        .sorting
          &:after
            position absolute
            font-size 11px
            font-family 'icons'
            top 17px
            right 10px
            color #b7b7b7
        .sorting_asc
          &:after
            position absolute
            font-size 11px
            font-family 'icons'
            top 16px
            right 10px
            color #b7b7b7
        .sorting_desc
          &:after
            position absolute
            font-size 11px
            font-family 'icons'
            top 16px
            right 10px
            color #b7b7b7
    tbody
      tr
        font-size 14px
        color #78909c
        border-bottom 1px solid #b8c3cc
        &:hover
          background-color white
          color black
          border 1px solid #b8c3cc
          td
            .btn_details
              background-color #00c853
              color white
              text-decoration none
            .btn_remove
              background-color #f44336
              color white
              text-decoration none
            .btn_state
              background-color #f0ad4e
              color white
              text-decoration none
      td
        padding 12px 0
        text-align left
        .btn_action
          border 1px solid #eff0f2
          background-color white
          color #78909c
          padding 0 20px
          margin-right 10px
          &:last-child
            margin-right 0
        .table_image
          background-color white
          display block
          height 70px
          width 123px
        form
          position relative
          display inline-block
          box-sizing border-box
          vertical-align top
          padding 0 !important
          width auto !important
          &:hover
            text-decoration none
            color white
          input[type=submit]
            border 0
            cursor pointer
            display block
            height 37px
            background-color rgba(0,0,0,0)
            font-size 16px
            padding 0 30px
.select2-dropdown.select2_open
	// box-shadow -1px 4px 3px rgba(0,0,0,.2)
	background white
	border 1px solid #9c9c9c
	border-top 1px solid #ffffff
.three_actions
	width 360px
.two_actions
	width 235px
