/nbproject/private/ .idea/workspace.xml
frontend/.idea
frontendAdm/automatization/node_modules/
frontend/automatization/node_modules/
.idea/
.DS_Store
*.bak
source/public/js/modules/
source/composer.lock
source/public/element/
source/public/storage
source/vendor
source/public/.htaccess
