@font-face {
	font-family: 'UPC SGothic RgCap';
	src: url('hinted-UPCSGothicRgCap-Bold/hinted-UPCSGothicRgCap-Bold.eot');
	src: url('hinted-UPCSGothicRgCap-Bold/hinted-UPCSGothicRgCap-Bold.eot?#iefix') format('embedded-opentype'),
		url('hinted-UPCSGothicRgCap-Bold/hinted-UPCSGothicRgCap-Bold.woff') format('woff'),
		url('hinted-UPCSGothicRgCap-Bold/hinted-UPCSGothicRgCap-Bold.ttf') format('truetype'),
		url('hinted-UPCSGothicRgCap-Bold/hinted-UPCSGothicRgCap-Bold.svg#UPCSGothicRgCap-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Zizou Slab';
	src: url('hinted-ZizouSlab-Regular/hinted-ZizouSlab-Regular.eot');
	src: url('hinted-ZizouSlab-Regular/hinted-ZizouSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('hinted-ZizouSlab-Regular/hinted-ZizouSlab-Regular.woff') format('woff'),
		url('hinted-ZizouSlab-Regular/hinted-ZizouSlab-Regular.ttf') format('truetype'),
		url('hinted-ZizouSlab-Regular/hinted-ZizouSlab-Regular.svg#ZizouSlab-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Zizou Slab';
	src: url('hinted-ZizouSlab-Bold/hinted-ZizouSlab-Bold.eot');
	src: url('hinted-ZizouSlab-Bold/hinted-ZizouSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('hinted-ZizouSlab-Bold/hinted-ZizouSlab-Bold.woff') format('woff'),
		url('hinted-ZizouSlab-Bold/hinted-ZizouSlab-Bold.ttf') format('truetype'),
		url('hinted-ZizouSlab-Bold/hinted-ZizouSlab-Bold.svg#ZizouSlab-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica LT Std';
	src: url('hinted-HelveticaLTStd-Light/hinted-HelveticaLTStd-Light.eot');
	src: url('hinted-HelveticaLTStd-Light/hinted-HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('hinted-HelveticaLTStd-Light/hinted-HelveticaLTStd-Light.woff') format('woff'),
		url('hinted-HelveticaLTStd-Light/hinted-HelveticaLTStd-Light.ttf') format('truetype'),
		url('hinted-HelveticaLTStd-Light/hinted-HelveticaLTStd-Light.svg#HelveticaLTStd-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica LT Std';
	src: url('hinted-HelveticaLTStd-Roman/hinted-HelveticaLTStd-Roman.eot');
	src: url('hinted-HelveticaLTStd-Roman/hinted-HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('hinted-HelveticaLTStd-Roman/hinted-HelveticaLTStd-Roman.woff') format('woff'),
		url('hinted-HelveticaLTStd-Roman/hinted-HelveticaLTStd-Roman.ttf') format('truetype'),
		url('hinted-HelveticaLTStd-Roman/hinted-HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica LT Std';
	src: url('hinted-HelveticaLTStd-Bold/hinted-HelveticaLTStd-Bold.eot');
	src: url('hinted-HelveticaLTStd-Bold/hinted-HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('hinted-HelveticaLTStd-Bold/hinted-HelveticaLTStd-Bold.woff') format('woff'),
		url('hinted-HelveticaLTStd-Bold/hinted-HelveticaLTStd-Bold.ttf') format('truetype'),
		url('hinted-HelveticaLTStd-Bold/hinted-HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Zizou Slab';
	src: url('hinted-ZizouSlab-Medium/hinted-ZizouSlab-Medium.eot');
	src: url('hinted-ZizouSlab-Medium/hinted-ZizouSlab-Medium.eot?#iefix') format('embedded-opentype'),
		url('hinted-ZizouSlab-Medium/hinted-ZizouSlab-Medium.woff') format('woff'),
		url('hinted-ZizouSlab-Medium/hinted-ZizouSlab-Medium.ttf') format('truetype'),
		url('hinted-ZizouSlab-Medium/hinted-ZizouSlab-Medium.svg#ZizouSlab-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
