aside
	.user
		img(src!="#{page.static}/img/user_photo_1.png")
		h3 Hola Lisset
		a(href="javascrip:;") Campus Villa
	nav
		ul
			li
				a(href="javascript:;" data-link="home")
					.icon-home
					span Inicio
			li
				a(href="javascript:;" data-link="news")
					.icon-news
					span Noticias
			li
				a(href="javascript:;" data-link="directory")
					.icon-directory
					span Directorio
			li
				a(href="javascript:;" data-link="family")
					.icon-upc-family
					span FAmilia UPC
			li
				a(href="javascript:;" data-link="events")
					.icon-events
					span Eventos, Beneficios y Servicios
			li
				a(href="javascript:;" data-link="adn")
					.icon-adn
					span ADMN UPC