include ../_config/page.jade
include ../_mixins/mixins.jade
footer
	.box_center
		.left 2017 Copyright © Openvios.com . Todos los derechos reservados
		.right Contacto: info@openvios.com | Teléfono: 975-192-066
//-script(type="text/template" id="tplProvince")
//-	option(value="") Seleccione Provincia
//-	<% _.each(provinces, function(postIts, index) { %>
//-	option(data-value!="<%= index %>" value!="<%= postIts.id %>") <%= postIts.value %>
//-	<% }); %>
//-script(type="text/template" id="tplDistrict")
//-	option(value="") Seleccione Distrito
//-	<% _.each(districts, function(postIts, index) { %>
//-	option(data-value!="<%= index %>" value!="<%= postIts.id %>") <%= postIts.value %>
//-	<% }); %>
//-script(type="text/template" id="tplModel")
//-	option(value="") Seleccione Modelo
//-	<% _.each(models, function(postIts, index) { %>
//-	option(data-value!="<%= index %>" value!="<%= postIts.id %>") <%= postIts.name %>
//-	<% }); %>
