header#admin_header
    div.logo_system
        img(src!="{{Request::root()}}/img/logo_type_maszeguro_head.png")
    div.admin_content.text_right.float_right
        div.options_user
            a.user_name
                | {{ Auth::user()->name }}
                i.icon.icon-user
            ul
                li
                    a(href="javascript:;") Mi Perfil
                li
                    a(href!="{{ url('logout') }}") Cerrar Sesión
nav.admin_nav
    ul
        li
            a.ripple.open_a(href="{{ url('admin/app') }}")
                //- i.icon.icon-adm_dashboard
                span Usuarios
        li.menu_dropdown
            a.ripple.open_a()
                //- i.icon.icon-adm_users
                span Soats
                .icon.icon-arrow_right
            ul.dropdown_list
                li
                    a(href="javascript:;")
                        | sub-item
                li
                    a(href="javascript:;")
                        | sub-item
                li
                    a(href="javascript:;")
                        | sub-item
                li.item_active
                    a(href="javascript:;")
                        | sub-item
        li
            a.ripple(href="{{ url('admin/sendmessage') }}")
                //- i.icon.icon-adm_calendar
                span Enviar mensaje
        //- li.menu_dropdown
        //-     a.ripple
        //-         //- i.icon.icon-adm_logout
        //-         span Items
        //-         .icon.icon-arrow_right
        //-     ul.dropdown_list
        //-         li
        //-             a(href="javascript:;")
        //-                 | sub-item
        //-         li
        //-             a(href="javascript:;")
        //-                 | sub-item
        //- | @foreach(MenuHelper('school') as $key=>$item)
        //- li(
        //- id!="menu_{{ $key }}",
        //- class!="@if($item['class'])menu_dropdown @endif")
        //-     | @if(empty($item['submenu']))
        //-     a(href!="{{ $item['url'] }}" class!="ripple {{ $item['active'] }}")
        //-         i(class!="{{ $item['i'] }}")
        //-         span {{ $item['title'] }}
        //-     | @else
        //-     a(href!="{{ $item['url'] }}" class!="ripple {{ $item['active'] }}")
        //-         i(class!="{{ $item['i'] }}")
        //-         span {{ $item['title'] }}
        //-         div(class!="icon icon-arrow_{{ $item['arrow'] }}")
        //-     ul.dropdown_list
        //-         | @foreach($item['submenu'] as $subitem)
        //-         li(class!="{{ $subitem['item'] }}")
        //-             a(href!="{{ $subitem['url'] }}" class!="{{ $subitem['active'] }}") {{ $subitem['title'] }}
        //-         | @endforeach
        //-     | @endif
        //- | @endforeach
