include ../_config/page.jade
include ../_mixins/mixins.jade
header.open_menu
	.box_center
		h1
			img(src!="#{page.static}/img/logo_openvios.png", alt="logotipo | Openvios - ¿Quieres un producto del extrangero? Compra en línea, nosotros lo traemos")
			hr
			.box_txt
				span Telf.: 975-192-066
				span info@openvios.com
		img.icon_menu_close(src!="#{page.static}/img/menu_close.png")
		nav.open
			.box_menu
				img.logo_responsive(src!="#{page.static}/img/logo_responsive.png")
				img.icon_menu_open(src!="#{page.static}/img/menu_open.png")
			ul
				li
					a(href="./index.html" data-link="home") Inicio
				li
					a(href="./services.html" data-link="services") Servicios
				li
					a(href="./how-does-it-work.html" data-link="how-does-it-work") Cómo funciona
				li
					a(href="./contact-us.html" data-link="contact-us") Contáctanos
			a.btn.btn_white(href="./register.html") REGISTRATE