include ../_config/page.jade
include ../_mixins/mixins.jade
header
	.box_center
		h1
			img(src!="#{page.static}/img/logo_openvios.png", alt="logotipo | Openvios - ¿Quieres un producto del extrangero? Compra en línea, nosotros lo traemos")
			hr
			.box_txt
				span Telf.: 975-192-066
				span info@openvios.com
		nav
			ul
				li
					a(href="./index.html" data-link="home") Inicio
				li
					a(href="./services.html" data-link="services") Servicios
				li
					a(href="./how-does-it-work.html" data-link="how-does-it-work") Cómo funciona
				li
					a(href="javascript:;" data-link="contacts") Contáctanos
			a.btn.btn_white(href="./register.html") REGISTRATE