include ../_config/page.jade
include ../_mixins/mixins.jade
header
	h1
		img(src!="#{page.static}/img/isotipo_blue_upc.png", alt="logotipo | UPC - contéctate")
		span contéctate
	ul
		li
			a(href="javascript:;") PORTAL
		li
			a(href="javascript:;") APTITUD