@font-face {
	font-family: "icons";
	src: url('fonts/icons/icons.eot');
	src: url('fonts/icons/icons.eot?#iefix') format('eot'),
		url('fonts/icons/icons.woff2') format('woff2'),
		url('fonts/icons/icons.woff') format('woff'),
		url('fonts/icons/icons.ttf') format('truetype'),
		url('fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-airplane:before {
	content: "\E001";
}

.icon-arrow:before {
	content: "\E002";
}

.icon-arrow_bold_down:before {
	content: "\E003";
}

.icon-arrow_bold_up:before {
	content: "\E004";
}

.icon-arrow_down:before {
	content: "\E005";
}

.icon-arrow_left:before {
	content: "\E006";
}

.icon-arrow_light_left:before {
	content: "\E007";
}

.icon-arrow_light_right:before {
	content: "\E008";
}

.icon-arrow_right:before {
	content: "\E009";
}

.icon-arrow_up:before {
	content: "\E00A";
}

.icon-arrows-2:before {
	content: "\E00B";
}

.icon-check-2:before {
	content: "\E00C";
}

.icon-check:before {
	content: "\E00D";
}

.icon-close:before {
	content: "\E00E";
}

.icon-dollar-symbol:before {
	content: "\E00F";
}

.icon-exs:before {
	content: "\E010";
}

.icon-facebook:before {
	content: "\E011";
}

.icon-heart:before {
	content: "\E012";
}

.icon-kile:before {
	content: "\E013";
}

.icon-linkedin:before {
	content: "\E014";
}

.icon-mail:before {
	content: "\E015";
}

.icon-note-black:before {
	content: "\E016";
}

.icon-note:before {
	content: "\E017";
}

.icon-phone-call:before {
	content: "\E018";
}

.icon-phone:before {
	content: "\E019";
}

.icon-plus_button:before {
	content: "\E01A";
}

.icon-search:before {
	content: "\E01B";
}

.icon-security:before {
	content: "\E01C";
}

.icon-skype:before {
	content: "\E01D";
}

.icon-speed-meter:before {
	content: "\E01E";
}

.icon-twitter:before {
	content: "\E01F";
}
