/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$check_top_name = 'check_top';
$check_top_x = 124px;
$check_top_y = 0px;
$check_top_offset_x = -124px;
$check_top_offset_y = 0px;
$check_top_width = 82px;
$check_top_height = 62px;
$check_top_total_width = 281px;
$check_top_total_height = 245px;
$check_top_image = '../img/sprite.png';
$check_top = 124px 0px -124px 0px 82px 62px 281px 245px '../img/sprite.png' 'check_top';
$ico_adn_name = 'ico_adn';
$ico_adn_x = 48px;
$ico_adn_y = 127px;
$ico_adn_offset_x = -48px;
$ico_adn_offset_y = -127px;
$ico_adn_width = 48px;
$ico_adn_height = 46px;
$ico_adn_total_width = 281px;
$ico_adn_total_height = 245px;
$ico_adn_image = '../img/sprite.png';
$ico_adn = 48px 127px -48px -127px 48px 46px 281px 245px '../img/sprite.png' 'ico_adn';
$ico_adn_active_name = 'ico_adn_active';
$ico_adn_active_x = 0px;
$ico_adn_active_y = 127px;
$ico_adn_active_offset_x = 0px;
$ico_adn_active_offset_y = -127px;
$ico_adn_active_width = 48px;
$ico_adn_active_height = 46px;
$ico_adn_active_total_width = 281px;
$ico_adn_active_total_height = 245px;
$ico_adn_active_image = '../img/sprite.png';
$ico_adn_active = 0px 127px 0px -127px 48px 46px 281px 245px '../img/sprite.png' 'ico_adn_active';
$ico_birhtday_name = 'ico_birhtday';
$ico_birhtday_x = 206px;
$ico_birhtday_y = 0px;
$ico_birhtday_offset_x = -206px;
$ico_birhtday_offset_y = 0px;
$ico_birhtday_width = 42px;
$ico_birhtday_height = 42px;
$ico_birhtday_total_width = 281px;
$ico_birhtday_total_height = 245px;
$ico_birhtday_image = '../img/sprite.png';
$ico_birhtday = 206px 0px -206px 0px 42px 42px 281px 245px '../img/sprite.png' 'ico_birhtday';
$ico_directory_name = 'ico_directory';
$ico_directory_x = 113px;
$ico_directory_y = 205px;
$ico_directory_offset_x = -113px;
$ico_directory_offset_y = -205px;
$ico_directory_width = 36px;
$ico_directory_height = 35px;
$ico_directory_total_width = 281px;
$ico_directory_total_height = 245px;
$ico_directory_image = '../img/sprite.png';
$ico_directory = 113px 205px -113px -205px 36px 35px 281px 245px '../img/sprite.png' 'ico_directory';
$ico_directory_active_name = 'ico_directory_active';
$ico_directory_active_x = 149px;
$ico_directory_active_y = 205px;
$ico_directory_active_offset_x = -149px;
$ico_directory_active_offset_y = -205px;
$ico_directory_active_width = 36px;
$ico_directory_active_height = 35px;
$ico_directory_active_total_width = 281px;
$ico_directory_active_total_height = 245px;
$ico_directory_active_image = '../img/sprite.png';
$ico_directory_active = 149px 205px -149px -205px 36px 35px 281px 245px '../img/sprite.png' 'ico_directory_active';
$ico_events_name = 'ico_events';
$ico_events_x = 0px;
$ico_events_y = 93px;
$ico_events_offset_x = 0px;
$ico_events_offset_y = -93px;
$ico_events_width = 98px;
$ico_events_height = 34px;
$ico_events_total_width = 281px;
$ico_events_total_height = 245px;
$ico_events_image = '../img/sprite.png';
$ico_events = 0px 93px 0px -93px 98px 34px 281px 245px '../img/sprite.png' 'ico_events';
$ico_events_active_name = 'ico_events_active';
$ico_events_active_x = 98px;
$ico_events_active_y = 93px;
$ico_events_active_offset_x = -98px;
$ico_events_active_offset_y = -93px;
$ico_events_active_width = 98px;
$ico_events_active_height = 34px;
$ico_events_active_total_width = 281px;
$ico_events_active_total_height = 245px;
$ico_events_active_image = '../img/sprite.png';
$ico_events_active = 98px 93px -98px -93px 98px 34px 281px 245px '../img/sprite.png' 'ico_events_active';
$ico_gift_top_name = 'ico_gift_top';
$ico_gift_top_x = 248px;
$ico_gift_top_y = 71px;
$ico_gift_top_offset_x = -248px;
$ico_gift_top_offset_y = -71px;
$ico_gift_top_width = 25px;
$ico_gift_top_height = 14px;
$ico_gift_top_total_width = 281px;
$ico_gift_top_total_height = 245px;
$ico_gift_top_image = '../img/sprite.png';
$ico_gift_top = 248px 71px -248px -71px 25px 14px 281px 245px '../img/sprite.png' 'ico_gift_top';
$ico_home_name = 'ico_home';
$ico_home_x = 0px;
$ico_home_y = 205px;
$ico_home_offset_x = 0px;
$ico_home_offset_y = -205px;
$ico_home_width = 39px;
$ico_home_height = 40px;
$ico_home_total_width = 281px;
$ico_home_total_height = 245px;
$ico_home_image = '../img/sprite.png';
$ico_home = 0px 205px 0px -205px 39px 40px 281px 245px '../img/sprite.png' 'ico_home';
$ico_home_active_name = 'ico_home_active';
$ico_home_active_x = 206px;
$ico_home_active_y = 124px;
$ico_home_active_offset_x = -206px;
$ico_home_active_offset_y = -124px;
$ico_home_active_width = 39px;
$ico_home_active_height = 40px;
$ico_home_active_total_width = 281px;
$ico_home_active_total_height = 245px;
$ico_home_active_image = '../img/sprite.png';
$ico_home_active = 206px 124px -206px -124px 39px 40px 281px 245px '../img/sprite.png' 'ico_home_active';
$ico_logo_upc_name = 'ico_logo_upc';
$ico_logo_upc_x = 77px;
$ico_logo_upc_y = 205px;
$ico_logo_upc_offset_x = -77px;
$ico_logo_upc_offset_y = -205px;
$ico_logo_upc_width = 36px;
$ico_logo_upc_height = 36px;
$ico_logo_upc_total_width = 281px;
$ico_logo_upc_total_height = 245px;
$ico_logo_upc_image = '../img/sprite.png';
$ico_logo_upc = 77px 205px -77px -205px 36px 36px 281px 245px '../img/sprite.png' 'ico_logo_upc';
$ico_news_name = 'ico_news';
$ico_news_x = 206px;
$ico_news_y = 42px;
$ico_news_offset_x = -206px;
$ico_news_offset_y = -42px;
$ico_news_width = 41px;
$ico_news_height = 41px;
$ico_news_total_width = 281px;
$ico_news_total_height = 245px;
$ico_news_image = '../img/sprite.png';
$ico_news = 206px 42px -206px -42px 41px 41px 281px 245px '../img/sprite.png' 'ico_news';
$ico_news_active_name = 'ico_news_active';
$ico_news_active_x = 206px;
$ico_news_active_y = 83px;
$ico_news_active_offset_x = -206px;
$ico_news_active_offset_y = -83px;
$ico_news_active_width = 41px;
$ico_news_active_height = 41px;
$ico_news_active_total_width = 281px;
$ico_news_active_total_height = 245px;
$ico_news_active_image = '../img/sprite.png';
$ico_news_active = 206px 83px -206px -83px 41px 41px 281px 245px '../img/sprite.png' 'ico_news_active';
$ico_phone_name = 'ico_phone';
$ico_phone_x = 248px;
$ico_phone_y = 37px;
$ico_phone_offset_x = -248px;
$ico_phone_offset_y = -37px;
$ico_phone_width = 21px;
$ico_phone_height = 34px;
$ico_phone_total_width = 281px;
$ico_phone_total_height = 245px;
$ico_phone_image = '../img/sprite.png';
$ico_phone = 248px 37px -248px -37px 21px 34px 281px 245px '../img/sprite.png' 'ico_phone';
$ico_phone_2_name = 'ico_phone_2';
$ico_phone_2_x = 39px;
$ico_phone_2_y = 205px;
$ico_phone_2_offset_x = -39px;
$ico_phone_2_offset_y = -205px;
$ico_phone_2_width = 38px;
$ico_phone_2_height = 38px;
$ico_phone_2_total_width = 281px;
$ico_phone_2_total_height = 245px;
$ico_phone_2_image = '../img/sprite.png';
$ico_phone_2 = 39px 205px -39px -205px 38px 38px 281px 245px '../img/sprite.png' 'ico_phone_2';
$ico_upc_family_name = 'ico_upc_family';
$ico_upc_family_x = 147px;
$ico_upc_family_y = 127px;
$ico_upc_family_offset_x = -147px;
$ico_upc_family_offset_y = -127px;
$ico_upc_family_width = 51px;
$ico_upc_family_height = 41px;
$ico_upc_family_total_width = 281px;
$ico_upc_family_total_height = 245px;
$ico_upc_family_image = '../img/sprite.png';
$ico_upc_family = 147px 127px -147px -127px 51px 41px 281px 245px '../img/sprite.png' 'ico_upc_family';
$ico_upc_family_active_name = 'ico_upc_family_active';
$ico_upc_family_active_x = 96px;
$ico_upc_family_active_y = 127px;
$ico_upc_family_active_offset_x = -96px;
$ico_upc_family_active_offset_y = -127px;
$ico_upc_family_active_width = 51px;
$ico_upc_family_active_height = 41px;
$ico_upc_family_active_total_width = 281px;
$ico_upc_family_active_total_height = 245px;
$ico_upc_family_active_image = '../img/sprite.png';
$ico_upc_family_active = 96px 127px -96px -127px 51px 41px 281px 245px '../img/sprite.png' 'ico_upc_family_active';
$ico_user_name = 'ico_user';
$ico_user_x = 248px;
$ico_user_y = 0px;
$ico_user_offset_x = -248px;
$ico_user_offset_y = 0px;
$ico_user_width = 33px;
$ico_user_height = 37px;
$ico_user_total_width = 281px;
$ico_user_total_height = 245px;
$ico_user_image = '../img/sprite.png';
$ico_user = 248px 0px -248px 0px 33px 37px 281px 245px '../img/sprite.png' 'ico_user';
$ico_village_name = 'ico_village';
$ico_village_x = 0px;
$ico_village_y = 173px;
$ico_village_offset_x = 0px;
$ico_village_offset_y = -173px;
$ico_village_width = 50px;
$ico_village_height = 32px;
$ico_village_total_width = 281px;
$ico_village_total_height = 245px;
$ico_village_image = '../img/sprite.png';
$ico_village = 0px 173px 0px -173px 50px 32px 281px 245px '../img/sprite.png' 'ico_village';
$ping_top_name = 'ping_top';
$ping_top_x = 269px;
$ping_top_y = 37px;
$ping_top_offset_x = -269px;
$ping_top_offset_y = -37px;
$ping_top_width = 11px;
$ping_top_height = 18px;
$ping_top_total_width = 281px;
$ping_top_total_height = 245px;
$ping_top_image = '../img/sprite.png';
$ping_top = 269px 37px -269px -37px 11px 18px 281px 245px '../img/sprite.png' 'ping_top';
$weather_one_name = 'weather_one';
$weather_one_x = 0px;
$weather_one_y = 0px;
$weather_one_offset_x = 0px;
$weather_one_offset_y = 0px;
$weather_one_width = 124px;
$weather_one_height = 93px;
$weather_one_total_width = 281px;
$weather_one_total_height = 245px;
$weather_one_image = '../img/sprite.png';
$weather_one = 0px 0px 0px 0px 124px 93px 281px 245px '../img/sprite.png' 'weather_one';
$spritesheet_width = 281px;
$spritesheet_height = 245px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $check_top $ico_adn $ico_adn_active $ico_birhtday $ico_directory $ico_directory_active $ico_events $ico_events_active $ico_gift_top $ico_home $ico_home_active $ico_logo_upc $ico_news $ico_news_active $ico_phone $ico_phone_2 $ico_upc_family $ico_upc_family_active $ico_user $ico_village $ping_top $weather_one;
$spritesheet = 281px 245px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
