include ../_config/page.jade
include ../_mixins/mixins.jade
extends ../layouts/layout_inicio.jade
block content
	.container(data-page="home")
		.content.griss_1
			section.box_center
				article
					h2 ¿Quieres un producto del extranjero? Cómpralo por internet y tráelo fácil con Openvios
					.row.row_steps
						.number 1
						.box_txt Regístrate y obtén GRATIS tu casilla postal en USA.
						img.img_1(src!="#{page.static}/img/0_Image.png")
						
		.content.griss_2
			section.box_center
				article
					.row.row_steps
						.number 2
						.box_txt Compra por internet lo que quieras y envíala a tu casilla postal: 8372 NW 68TH St. Miami FL, 33166
						img.img_1(src!="#{page.static}/img/1_Image.png")
		.content.griss_3
			section.box_center
				article
					.row.row_steps
						.number 3
						.box_txt Mándanos tu factura electrónica (invoice) y tracking number a info@openvios.com
						img.img_1(src!="#{page.static}/img/2_Image.png")
		.content.griss_4
			section.box_center
				article
					.row.row_steps
						.number 4
						.box_txt Despachamos tus productos hacia Lima - Perú y te llamaremos para coordinar la entrega.
						img.img_1(src!="#{page.static}/img/3_Image.png")