include ../_config/page.jade
include ../_mixins/mixins.jade
extends ../layouts/layout_inicio.jade
block content
	.container(data-page="services")
		.content.white_1
			section.box_center
				article
					h3 Envío de paquetería a Perú
					.row.row_timeline
						img.circle_box(src!="#{page.static}/img/circle_box.png")
						ul.list_timeline
							li.actived
								.box_time
									h3 Características
									ul.list_caracteristics
										li
											span El producto debe pesar como máximo 30kg
											.icon.icon-kile
										li
											span El paquete debe costar como máximo $2,000
											.icon.icon-dollar-symbol
										li
											span Frecuencia de envío es de 2 veces a la semana Martes y Viernes
											.icon.icon-airplane
							li
								.box_time
									h3 Ventajas
									ul.list_caracteristics
										li
											.icon.icon-note
											span Los tiempos de envio son mas rapidos y con frecuencia establecida. Es seguro, confiable y economico.
										li
											.icon.icon-dollar-symbol
											span El envío de paquetería incluye un servicio de consolidación de carga y almacenaje para que les saques el mayor provecho a los costos de envío
										li
											.icon.icon-check-2
											span No se paga impuestos en este regimen, la ley peruana menciona; si la suma del valor total de todo lo que contienen los paquetes consignados a una sola persona no exceden los US$ 200, no se pagan impuestos, de lo contrario se paga Ad-valorem (4%) e Igv (18%)
							li
								.box_time
									h3 Restricciones
									ul.list_caracteristics
										li
											span Todos los productos como, cosméticos, vitaminas, productos farmaceuticos o de segunda mano, etc no pueden ingresar al país mediante este servicio. revisar la pagina de sunat sobre este tema:
												br
												a(href="http://www.sunat.gob.pe/orientacionaduanera/mercanciasrestringidas/") Mercancias restringidas y Prohibidas
											.icon.icon-exs
						img(src!="#{page.static}/img/circle_traveler.png")
		.content.white_2
			section.box_center
				article
					h3 Carga aérea
					strong Es el traslado de carga mayor via aérea de un lugar a otro, mediante la utilización de aeronaves especiales (Cargueros), con fin lucrativo. Esta modalidad de carga tiene casi siempre fines comerciales.
					.row.row_area
						ul.list_carge
							li
								.icon.icon-speed-meter
								span Rapidez: ees el medio de transporte más rápido para largas distancias. Resulta imprescindible para envíos urgentes, de mercancías perecederas o de alto valor monetario. Es para gran volumen de mercaderia y generalmente costosa, perecedera y / o urgente
							li
								.icon.icon-security
								span Seguridad: es el medio de transporte con menor siniestralidad.
							li
								.icon.icon-arrows-2
								span Coste elevado: también resulta el más costoso por kg o m3 transportado de todos los medios de transporte. Se utiliza esta modalidad para toda mercaderia que supere los 2000 dolares de costo en aeropuerto de salida.
							li
								.icon.icon-exs
								span Carga limitada: debido a la capacidad de carga por peso o por volumen del avión y las medidas de las puertas de accesos.
		.content.white_3
			section.box_center
				article
					h3 Asesoría de compra en línea
					.row.row_shop
						img.b2c(src!="#{page.static}/img/b2c.png")
						ul
							li
								.circle
								span But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete
							li
								.circle
								span Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain
							li
								.circle
								span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
							li
								.circle
								span On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
						strong Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						span Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
